html {
	background:#efefef;
}

#main {
	background:#fff;
	position:relative;
}

.entry {
	min-height:auto;
	padding:10px 20px;
	position: relative;
}

.entry label {
	height:auto;
}

.icon-links {
	position:absolute;
	left:calc(100% + 10px);
	top:7px;
	display: inline-block;
}

h3 {
	display: inline-block;
	margin-left: 10px;
}

.mdl-textfield {
	margin:0 20px;
	width:100%;
	box-sizing:border-box;
}

.mdl-checkbox.is-checked {
	text-decoration: line-through;
	color:#aaa;
}

.mdl-checkbox.is-checked .icon-links {
	opacity: 0.2;
}

.mdl-checkbox.is-checked .mdl-checkbox__tick-outline {
	background-color: #aaa;
}

.mdl-checkbox.is-checked .mdl-checkbox__box-outline {
	border-color: #aaa;
}